/*


"main": "#71609B",
"second": "",
"background": "#fff",
"dataColors": ["#434343", "#FF5858", "#99C3F3", "#FFF680", "#EF96FF", "#B9FF6C"]

*/

svg{

/*
      TODO:
      background-color setting
      Transparent for Video
*/

	background:#fff;
	width:100%;
	height:100%;
}

// svg.nLabelHidden{
// 	.labelText{
// 		display: none !important;
// 	}
// }

/*------ Fonts ------*/

.titleFont{
	font-size:2em;
	fill:#000;
}

.subtitleFont{
	font-size:1.1em;
	fill:#9A9A9A;
}

.labelText{
	font-size:1em;
	fill:#9A9A9A;
	font-family:'IBM Plex Sans Condensed';
	&.bold{
		font-weight:bold;
	}
	&.big{
		font-size:2em;
	}
	&.white{
		fill:#fff;
	}
	&.black{
		fill:#000;
	}
}

.labelTextFont{
	fill:#9A9A9A;
	font-family:'IBM Plex Sans Condensed';
	&.bold{
		font-weight:bold;
	}
}


.labelNumber{
	font-size:1em;
	fill:#9A9A9A;
	font-family:'IBM Plex Mono';
	&.bold{
		font-weight:bold;
	}
}


svg.Classic{

	font-family:'IBM Plex Serif';

	.titleFont{
		font-family:'IBM Plex Serif';
		font-weight:700;
		font-size: 1.8em;
	}

	.bottomTextWrapper, .subtitleFont{
		font-family:'IBM Plex Sans Condensed';
		font-weight:400;
	}
}

svg, svg.Modern{
	font-family:'IBM Plex Sans Condensed';

	.titleFont{
		font-family:'IBM Plex Sans Condensed';
		font-weight:700;
	}

	.subtitleFont, .bottomTextWrapper{
		font-family:'IBM Plex Sans Condensed';
		font-weight:400;
	}
}

svg.Future{
	font-family:'IBM Plex Mono';

	.titleFont{
		font-family:'IBM Plex Mono';
		font-weight:700;
		font-size: 1.5em;
	}

	.subtitleFont, .bottomTextWrapper{
		font-family:'IBM Plex Sans Condensed';
		font-weight:400;
	}
}

/*------ Colors ------*/

svg.purple{
	.visFill{
		fill:#71609B !important;
	}
}

svg.apricot{
	.visFill{
		fill:#FE9592 !important;
	}
}

svg.green{
	.visFill{
		fill:#B8E986 !important;
	}
}

svg.red{
	.visFill{
		fill:#FF5C5C !important;
	}
}

svg.turquoise{
	.visFill{
		fill:#75FABF !important;
	}
}

svg.orange{
	.visFill{
		fill:#FBC469 !important;
	}
}

.title-wrapper{
	text{
		text-anchor:start;
	}
}

.source{
  font-size: 0.85em;
  fill:#9A9A9A;
}

.attribution{
  	font-size: 0.85em;
  	fill:#9A9A9A;
	font-style:italic;
	text-anchor:end;
}